[workspace]
members = [
    "circom-types",
    "collaborative-groth16",
    "collaborative-circom",
    "mpc-core",
    "mpc-net",
    "tests",
]
resolver = "1" # need resolver 1 because of circom upstream

[workspace.package]
edition = "2021"
rust-version = "1.75"
authors = ["TACEO GmbH <hello@taceo.io>"]
homepage = "https://www.taceo.io"
repository = "https:://github.com/TaceoLabs/collaborative-circom"
license = "MIT OR Apache-2.0"
publish = false
readme = "./README.md"

[workspace.dependencies]
ark-bls12-381 = "0.4.0"
ark-bn254 = "0.4.0"
ark-ec = { version = "0.4.2", default-features = false }
ark-ff = "0.4.2"
ark-groth16 = { version = "=0.4.0", default-features = false, features = [
    "parallel",
] }
ark-poly = "0.4.2"
ark-relations = { version = "0.4.0", default-features = false }
ark-serialize = { version = "0.4", features = ["derive", "std"] }
ark-std = { version = "0.4.0", features = ["std"] }
bincode = "1.3.3"
bytemuck = { version = "1.15", features = ["derive"] }
byteorder = "1.5.0"
bytes = "1.5.0"
circom-circom_algebra = { git = "https://github.com/TaceoLabs/circom", package = "circom_algebra", branch = "dev" }
circom-code_producers = { git = "https://github.com/TaceoLabs/circom", package = "code_producers", branch = "dev" }
circom-compiler = { git = "https://github.com/TaceoLabs/circom", package = "compiler", branch = "dev" }
circom-constant_tracking = { git = "https://github.com/TaceoLabs/circom", package = "constant_tracking", branch = "dev" }
circom-constraint_generation = { git = "https://github.com/TaceoLabs/circom", package = "constraint_generation", branch = "dev" }
circom-constraint_list = { git = "https://github.com/TaceoLabs/circom", package = "constraint_list", branch = "dev" }
circom-constraint_writers = { git = "https://github.com/TaceoLabs/circom", package = "constraint_writers", branch = "dev" }
circom-dag = { git = "https://github.com/TaceoLabs/circom", package = "dag", branch = "dev" }
circom-parser = { git = "https://github.com/TaceoLabs/circom", package = "parser", branch = "dev" }
circom-program_structure = { git = "https://github.com/TaceoLabs/circom", package = "program_structure", branch = "dev" }
circom-type_analysis = { git = "https://github.com/TaceoLabs/circom", package = "type_analysis", branch = "dev" }
clap = { version = "4.4.8", features = ["derive"] }
color-eyre = "0.6.3"
criterion = { version = "0.5", features = ["async_tokio"] }
eyre = "0.6"
futures = "0.3.30"
hex-literal = "0.4.1"
itertools = "0.13.0"
mpc-net = { path = "mpc-net" }
num-bigint = { version = "0.4.5" }
num-traits = { version = "0.2.18", default-features = false }
rand_chacha = "0.3"
rcgen = "0.12"
sha2 = "0.10"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9.27"
rand = "0.8.5"
rayon = "1.8.1"
thiserror = "1.0.59"
tracing = { version = "0.1.40", features = ["release_max_level_warn"] }
tracing-subscriber = "0.3"
tracing-test = "0.2.4"
tokio = { version = "1.34.0", features = [
    "rt",
    "rt-multi-thread",
    "net",
    "sync",
    "time",
    "io-util",
    "macros",
] }
toml = "0.8.13"
