[package]
name = "mpc-net"
version = "0.1.0"
exclude = ["data"]
publish.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true }
color-eyre = { workspace = true }
futures = { workspace = true }
quinn = "0.10"
rcgen = { workspace = true }
# need this rustls version for quinn
rustls = { version = "0.23.8", features = ["quic", "dangerous_configuration"] }
serde = { workspace = true }
tokio = { workspace = true }
tokio-util = { version = "0.7.10", features = ["codec"] }
toml.workspace = true
tracing = { workspace = true }
