[package]
name = "co-circom"
version = "0.5.0"

publish.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
license = "GPL-3.0"           # due to transitive dependency on circom-mpc-compiler
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ark-bls12-381.workspace = true
ark-bn254.workspace = true
ark-ec.workspace = true
ark-ff.workspace = true
ark-serialize.workspace = true
bincode.workspace = true
circom-mpc-compiler = { workspace = true }
circom-mpc-vm = { workspace = true }
circom-types = { workspace = true }
clap.workspace = true
co-circom-snarks = { workspace = true }
co-groth16 = { workspace = true, features = ["verifier"] }
co-plonk = { workspace = true }
color-eyre.workspace = true
figment.workspace = true
futures.workspace = true
mpc-core = { workspace = true }
mpc-net.workspace = true
num-bigint.workspace = true
num-traits.workspace = true
rand.workspace = true
serde_json.workspace = true
serde.workspace = true
thiserror.workspace = true
toml.workspace = true
tokio.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }
tracing.workspace = true

[dev-dependencies]
criterion.workspace = true

[[bench]]
name = "zkey_parse"
harness = false
