[package]
name = "co-ultrahonk"
version = "0.1.0"
publish.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
ark-ec.workspace = true
ark-ff.workspace = true
ark-bn254.workspace = true
ark-serialize.workspace = true
ark-poly.workspace = true
co-acvm = { version = "0.2.0", path = "../co-acvm" }
co-builder = { version = "0.1.0", path = "../co-builder" }
eyre.workspace = true
itertools.workspace = true
mpc-core = { version = "0.5.0", path = "../../mpc-core" }
num-bigint.workspace = true
num-traits.workspace = true
tracing.workspace = true
ultrahonk = { version = "0.1.0", path = "../ultrahonk" }
rand.workspace = true
rayon.workspace = true
serde.workspace = true

[dev-dependencies]
sha3.workspace = true
