[package]
name = "co-groth16"
version = "0.5.0"
publish.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
verifier = ["dep:ark-groth16"]

[dependencies]
ark-bls12-381 = { workspace = true }
ark-bn254 = { workspace = true }
ark-ec = { workspace = true }
ark-ff = { workspace = true }
ark-groth16 = { version = "=0.4.0", default-features = false, features = [
    "parallel",
], optional = true }
ark-poly = { workspace = true }
ark-relations = { workspace = true }
ark-serialize = { workspace = true }
circom-types = { workspace = true }
co-circom-snarks = { workspace = true }
eyre = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
mpc-core = { workspace = true }
mpc-net = { workspace = true }
num-traits = { workspace = true }
rand = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
