[package]
name = "mpc-core"
version = "0.2.1"
publish.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
dangerous = []

[dependencies]
ark-ec = { workspace = true }
ark-ff = { workspace = true }
ark-poly = { workspace = true }
ark-serialize = { workspace = true }
bytes = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
eyre = { workspace = true }
itertools = { workspace = true }
mpc-net = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
tokio = { workspace = true }
tracing.workspace = true
serde = { workspace = true }
ark-bn254 = { workspace = true }
ark-bls12-381 = { workspace = true }

[dev-dependencies]
ark-std = { workspace = true }
